<h1 style="text-align: center;">Sign Up</h1>

<form action="/user/create" method="post" id="form-container">
   <input type="text" name="name" placeholder="Your Name" required>
   <input type="email" name="email" id="" placeholder="Your Email" required>
   <input type="password" name="password" placeholder="Password" required>
   <input type="password" name="confirm_password" placeholder="confirm_password" required>
   <input type="submit" value="Sign Up">
</form>

<!-- google auth -->

<p><a href="/user/auth/google">Google Sign In/Sign Up </a></p>